.home {
    text-align: center;
    max-width: 900px;

    p {
        font-size: 1.8rem;
        color: #aaa;
        line-height: 1.7;
    }

    strong {
        color: #e0e0e0;
    }

    .success {
        font-size: 2.2rem;
        font-weight: 600;
        color: #5ac060;
    }
}